//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 15 09:39:48 2024
//! **************************************************************************

SCHEMATIC START;
COMP "BUT<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "BUT<3>" LOCATE = SITE "F5" LEVEL 1;
COMP "GPIO<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "GPIO<1>" LOCATE = SITE "M18" LEVEL 1;
COMP "GPIO<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "GPIO<3>" LOCATE = SITE "L15" LEVEL 1;
COMP "GPIO<4>" LOCATE = SITE "F15" LEVEL 1;
COMP "GPIO<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "GPIO<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "GPIO<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "CLK27MHZ" LOCATE = SITE "V10" LEVEL 1;
COMP "DIPSW<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "DIPSW<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "DIPSW<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "DIPSW<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "BUT<0>" LOCATE = SITE "P4" LEVEL 1;
PIN BUT<0>_pin<0> = BEL "BUT<0>" PINNAME PAD;
PIN "BUT<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BUT<1>" LOCATE = SITE "F6" LEVEL 1;
SCHEMATIC END;

